:root {
  --white: #fefefe;
  --grey-9: #212529;
  --purple: ;
  --purple-dark: #272044;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ******** Header ******** */
.hero-img {
  background-image: linear-gradient(
      rgba(71, 44, 178, 0.3),
      rgba(39, 32, 68, 0.8)
    ),
    url(/images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hgroup {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
}

h4 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

p,
a {
  font-size: 1.8rem;
}
.heading--sub {
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
}

.btn-link,
.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  transition: all ease 0.2s;
}

.btn--white {
  background: var(--white);
  color: var(--grey-9);
  margin-top: 3.2rem;
}

.btn-link:hover {
  transform: translateY(-0.2rem);
}

.btn-link:active {
  transform: translateY(0.2rem);
}

@media (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}
